@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  user-select: none;
}

@layer base {
  :root {
    --accent: #c100d6;

    --background: #060609;

    --foreground-pri: #11111c;
    --foreground-sec: #1e2033;
    --foreground-ter: #3d3f5c;

    --subtext: #9798aa;
    --text: #ffffff;

    --like: #fc0e63;
    --comment: #0ea6fc;
    --repost: #0efc5f;

    --average-yellow: #ffe500;
    --bad-red: #ff0000;
    --good-green: #15ff00;

    --header-height: 6rem;

    --picture-md: 2.5rem;
  }
}

@layer components {
  .main {
    @apply h-full w-full flex bg-foreground-pri;
  }

  .navbarHr {
    @apply h-[1px] bg-foreground-sec border-0 outline-0 w-full my-[-0.5rem];
  }

  .navbarIcon {
    @apply fill-foreground-ter;
  }
}
